rpackage/bohemia/data-raw/*
*.httr-oauth
analyses/meeting_bcn_june_2019/shiny/rsconnect/*
analyses/clustering/animation*
credentials/*
scripts/sheets.googleapis.com-python.json
scripts/census.*
rpackage/bohemia/inst/rmd/children.Rmd
analyses/distances/figures/
analyses/distances/distances.html
*.RData
scripts/local_dev_data_setup.txt
.venv
.vscode
logs
tmp
*.pem